


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container-fluid">
    <div class="content-wrapper">	
			
				
				<div class="col-md-12">
          
<div class="card">
    <article class="card-body">
    <h4 class="card-title mb-4 mt-1">welcome admin</h4>
      
    </article>
    </div> <!-- card.// -->

				</div>
			
		
		
</div>
</div>
</body>

