<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div >
  <header [mdcTopAppBar]="type" [fixedAdjust]="fixedAdjust">
    <div mdcTopAppBarRow>
      <section mdcTopAppBarSection class="start">
        <span  id="menu" class="glyphicon glyphicon-menu-hamburger btn btn-lg" (click)="sidenav.toggle()"></span>
        <h3 mdcTopAppBarTitle id="name"  routerLink="/" routerLinkActive="active">RYR.COM</h3>
      </section>

      <section  class="middle">
          <div class="input-group ">
              <input type="text" class="form-control" placeholder="Search by product name" id="search" [(ngModel)]="search"   name= "search">
              <div class="input-group-append">
                <button class="btn btn-primary glyphicon glyphicon-search" type="button" routerLink="/search/{{search}}" routerLinkActive="active"></button>
              </div>
            </div>
      </section>
      
      <section mdcTopAppBarSection class="end" >
            
                <a class="glyphicon glyphicon-shopping-cart btn btn-lg" routerLink="/cart" routerLinkActive="active"></a>
                <a class="glyphicon glyphicon-user btn btn-lg" routerLink="/signup" routerLinkActive="active"></a>
                <a class="glyphicon glyphicon-off btn btn-lg" routerLink="/login" routerLinkActive="active"></a>

      </section>
    </div>
  </header>
  <main #fixedAdjust>
    <mat-sidenav-container  >
          <mat-sidenav #sidenav mode="side" [(opened)]="opened">
       
            <mat-nav-list>
              <a mat-list-item routerLink="/{{category.name}}" routerLinkActive="active" *ngFor="let category of categories"   id="brandname" name="brandname"> {{ category.name }}

                   <mat-divider></mat-divider> 
              </a>

            </mat-nav-list>
          </mat-sidenav>
      
          <mat-sidenav-content>
            <router-outlet></router-outlet>
          </mat-sidenav-content>
    </mat-sidenav-container>  
  </main>
  </div>

  <section id="footer">
		
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <div><h3 class="text-center">Follow us</h3></div>
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/rajaravipavan"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/_rajaravi_/"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>www.CompareLaptop.in</p>
					<p class="h6">All right Reversed</p>
				</div>
				
			</div>	
	</section>





