
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container-fluid">
    <div class="content-wrapper">	
			
				
				<div class="col-md-12">
          
<div class="card">
    <article class="card-body">
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
       <form>
        <div class="form-group">
          <label>Your email</label>
            <input class="form-control" id="emailInput" placeholder="enter email id" [(ngModel)]="emailInput"   name= "emailInput" required="required">
        </div> <!-- form-group// -->
        <div class="form-group">
          
          <label>Your password</label>
            <input class="form-control" type="password" id="passwordInput" placeholder="enter password"  [(ngModel)]="passwordInput" name= "passwordInput"required="required" placeholder="******">
            <a class="float-right" href="#">Forgot password?</a>
        </div> <!-- form-group// --> 
        <div class="form-group"> 
         <!-- checkbox .// -->
        </div> <!-- form-group// -->  
        <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="signIn()"> Login  </button>
        </div> <!-- form-group// -->                                                           
    </form>
  
    </article>
    </div> <!-- card.// -->

				</div>
			
		
		
</div>
</div>
</body>


